body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  .inputRow {
      border: 1px solid lightgreen;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 5px;
      margin-top: 10px;
  }
  .item {
      width: 170px;
      border: 1px solid lightgray;
  }

  .animateRow {
    animation-duration: 750ms;
    animation-name: slidein;
    -webkit-animation-name: slidein;
    position: relative;
  }

  @keyframes slidein {
    from {
      top: -30px;
    }
  
    to {
      top: 0px;
    }
  }
  @-webkit-keyframes slidein {
    from {
          top:-30px;
    }
    
    to {
          top:0px;
    }
  }


.move-enter {
  opacity: 0.01;
  transform: translate(0, -20px);
}

.move-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;
}

.move-exit {
  opacity: 1;
  transform: translate(0, 0)
}

.move-exit-active {
  opacity: 0.01;
  transform: translate(0, -20px);
  transition: all 500ms ease-in;
}
