body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  .inputRow {
      border: 1px solid lightgreen;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 5px;
      margin-top: 10px;
  }
  .item {
      width: 170px;
      border: 1px solid lightgray;
  }